{% extends "base.html" %}

{% block title %}Password Reset Confirmation{% endblock %}

{% block jumboheader %}Password Reset Confirmation{% endblock %}

{% block content %}

  {% if not validlink %}
    <p class="text-danger">Sorry, the link you entered has expired.</p>
  {% endif %}

  {% load crispy_forms_tags %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form | crispy }}

    {% if validlink %}
      <input class="btn btn-secondary" type="submit" value="Reset">
    {% endif %}
    
    <a class="btn btn-outline-secondary" href="{% url 'profile' %}">Back</a>
  </form>

{% endblock %}
